node_modules
bower_components
.DS_Store
*.log
.sw*
.idea/*
.sass-cache/
.project
mods/.sass-cache/
.vscode
stats.json
_dist
_package
.cachefile
.happypack
!vendor/base/build
!src/widgets/base/build
!src/widgets/css/build
build_offline
build_miniapp
build-cloud.json
log
run
yarn.lock